:root {
    /* Color
    ------------------------------------------------------------------------- */
    --base-font-size  : 14px;
    --theme-hue       : 220;
    --mono-hue        : 220;
    --mono-saturation : 30%;
    --theme-saturation: 100%;
    --theme-lightness : 50%;
    --doodle-bg: #fff;
    --doodle-bg1: #F2F4F8;
    --doodle-bg2: #FCFCFD;
    --doodle-opacity: 1;
  
    /* App
    ============================================================================= */
    --spinner-track-color: #E0E4EB;
    --sidebar-width: 19rem;
  
    /* Base
    ============================================================================= */
    --base-font-size  : 1.125rem;
  
    /* Content
    ============================================================================= */
    --content-max-width : 80ch;
    --heading-h1-font-weight: 700;
    --heading-h2-font-weight: 700;
    --heading-h3-font-weight: 700;
    --heading-h4-font-weight: 700;
    --link-color: var(--theme-color);
    --kbd-padding: 0.4em 0.5em;
  
    /* Typography
    ============================================================================= */
  
    /* Modular Scale */
    --modular-scale   : 1.25;
  
    --border-radius-s : 4px;
    --border-radius-m : 8px;
    --border-radius-l : 16px;
  
    /* Sidebar
    ============================================================================= */
    --sidebar-toggle-background: var(--theme-color);
    --sidebar-toggle-icon-color: #fff;
    --sidebar-toggle-icon-stroke-width: 2px;
    --sidebar-nav-link-before-content-l3: '';
  
    /* Cover
    ============================================================================= */
    --cover-max-width: auto;
    --cover-heading-font-size: max(2rem, 7vmax);
    --cover-heading-font-weight: 800;
    --cover-heading-color: #000;
    --cover-background-color: #E0E4EB;
    --cover-button-background: #E0E4EB;
    --cover-button-border: #E0E4EB;
    --cover-button-padding: 1rem 1.5rem;
    --cover-button-primary-border: 0;
  
    /* Search
    ============================================================================= */
    --search-input-margin: 0;
    --search-input-border-width: 2px;
    --search-input-border-radius: 100px;
    --search-input-background-color--focus: none;
  }
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --theme-color: #3378FF;
      --doodle-bg: #121721;
      --doodle-bg1: #242E42;
      --doodle-bg2: #000000;
      --doodle-opacity: 0.5;
      --base-background-color: var(--mono-shade3);
      --spinner-track-color: #000;
      --cover-heading-color: #fff;
      --cover-background-color: #000;
      --cover-button-background: #242E42;
      --cover-button-border: #242E42;
    }
  }
  