---
layout: default
---


{% capture toc %}{% include toc.html html=content class="toc" ordered=true anchor_class="blank" %}{% endcapture %}

<article>

  <div id="notes-entry-container">
    <content>
      <h1>{{ page.title }}</h1>
      {{ content }}
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
        Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
        {% endif %}
      </time>
    </content>
  
    <side style="font-size: 0.9em">
      <div id="notes-side-container">
        {% if toc.size > 3 %}
        <h3>Table of Content</h3>
          <div class="sidebar-box">
            {{ toc }}
          </div>
        {% endif %}

        <h3>Notes mentioning this note</h3>
        {% if page.backlinks.size > 0 %}
        <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
        {% for backlink in page.backlinks %}
          <div class="sidebar-box">
            <b><a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a></b><br>
            <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
          </div>
        {% endfor %}
        </div>
        {% else %}

        <div style="font-size: 0.9em">
          <p>
            There are no notes linking to this note.
          </p>
        </div>
        {% endif %}
      </div>
    </side>
  </div>
</article>