[data-tab-content] > pre[data-lang] {
  margin: calc(var(--docsifytabs-content-padding) * -1);
  border-radius: 0;
}

.CoverLogo {
  max-width: 100%;
  height: auto;
}

iframe {
  border-radius: var(--border-radius-m);
}

a[target=_blank]:not([data-hide-icon]):not(.github-corner):after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--mono-tint1);
  margin-inline-start: 4px;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.167.917a.75.75 0 01.75-.75h4.166a.747.747 0 01.75.75v4.166a.75.75 0 01-1.5 0V2.727l-3.72 3.72a.75.75 0 01-1.06-1.06l3.72-3.72H6.917a.75.75 0 01-.75-.75zm-1.75 2.666h-1.5v5.5h5.5v-1.5a1 1 0 112 0V9.25a1.833 1.833 0 01-1.834 1.833H2.75A1.833 1.833 0 01.917 9.25V3.417A1.833 1.833 0 012.75 1.583h1.667a1 1 0 110 2z' fill='%23000'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.167.917a.75.75 0 01.75-.75h4.166a.747.747 0 01.75.75v4.166a.75.75 0 01-1.5 0V2.727l-3.72 3.72a.75.75 0 01-1.06-1.06l3.72-3.72H6.917a.75.75 0 01-.75-.75zm-1.75 2.666h-1.5v5.5h5.5v-1.5a1 1 0 112 0V9.25a1.833 1.833 0 01-1.834 1.833H2.75A1.833 1.833 0 01.917 9.25V3.417A1.833 1.833 0 012.75 1.583h1.667a1 1 0 110 2z' fill='%23000'/%3E%3C/svg%3E");
}


footer {
  margin-top: 80px;
  text-align: center;
}


.app-name-link img {
  transform: scale(1.7);
}

.cover {
  overflow: hidden;
}

.cover::before {
  background-image: radial-gradient(circle at center, #fff, #939BAA);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
}

.cover .cover-main {
  position: static;
}

.Badge {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6rem;
  background-color: gold;
  border-radius: 24px;
  padding: 0 8px;
  color: #000;
  vertical-align: middle;
}

.Badge[data-type='important'] {
  background-color: crimson;
  color: #fff;
}

css-doodle {
  background-color: var(--doodle-bg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: var(--doodle-opacity);
}

@media (prefers-color-scheme: dark) {

  pre[data-lang][class*="language-"] {
    background: var(--mono-shade1);
  }

  .app-name-link > img {
    filter: brightness(0) invert();
  }
  .cover::before {
    background-image: radial-gradient(circle at center, #121721, transparent);
  }
}

@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 50%}
  100%{background-position:50% 0%}
}

